<body class="contact-page">
	 <div class="wrap-body">
		<div class="social-media pull-right" style="padding-top:25px">
			<ul class="list-inline">
				<li>
					<a href="https://www.facebook.com/daniel.chongdnc">
						<span class="fa-stack fa-lg icon-facebook social-icon">
						  <i class="fa fa-square fa-stack-2x"></i>
						  <i class="fa fa-facebook fa-stack-1x"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa-stack fa-lg icon-instagram social-icon">
						  <i class="fa fa-square fa-stack-2x"></i>
						  <i class="fa fa-instagram fa-stack-1x"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="fa-stack fa-lg icon-gplus social-icon">
						  <i class="fa fa-square fa-stack-2x"></i>
						  <i class="fa fa-google-plus fa-stack-1x"></i>
						</span>
					</a>
				</li>
			</ul>
		</div>
		
	    <header>
			<div style="text-align:left">
				<div class="logo">
					<img src="{{ base_url()}}/images/dnc-b.jpg" class="img-responsive logo-img"/>
				</div>
			</div>			
		</header>
		<nav class="navbar navbar-inverse" style="font-size:17px; font-weight:700;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!--<a class="navbar-brand" href="#">Project name</a>-->
				</div>
				
				<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
					<ul class="nav navbar-nav">
						<li><a href="{{path_for('home')}}"><span>Home</span></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{{path_for('wedding_ceremony')}}"><span>Wedding Ceremony</span></a></li>
								<li><a href="{{path_for('pre_wedding')}}"><span>Pre Wedding</span></a></li>
								<li><a href="{{path_for('couple')}}"><span>Couple</span></a></li>
								<li><a href="{{path_for('sister')}}"><span>Sister Hood</span></a></li>
								<li><a href="{{path_for('family')}}"><span>Family</span></a></li>
								<li><a href="{{path_for('portrait')}}"><span>Portrait</span></a></li>								
							</ul>
						</li>
						<li><a href="{{path_for('about')}}"><span>About</span></a></li>
						<li class="active"><a href="{{path_for('contact')}}"><span>Contact</span></a></li>
					</ul>
					<!--
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
						<li><a href="../navbar-static-top/">Static top</a></li>
						<li><a href="../navbar-fixed-top/">Fixed top</a></li>
					</ul>
					-->
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>
			
			<!--
			<div id="cssmenu" class="align-center">
				<ul>
					<li class="active"><a href="{{path_for('home')}}"><span>Home</span></a></li>
					<li class="has-sub"><a href="#"><span>Gallery</span></a>
						<ul>
							<li class="has-sub sub-hover"><a href="{{path_for('wedding_ceremony')}}"><span>Wedding Ceremony</span></a></li>
							<li class="has-sub sub-hover"><a href="{{path_for('pre_wedding')}}"><span>Pre Wedding</span></a></li>
							<li class="has-sub sub-hover"><a href="{{path_for('couple')}}"><span>Couple</span></a></li>
							<li class="has-sub sub-hover"><a href="{{path_for('sister')}}"><span>Sister Hood</span></a></li>
							<li class="has-sub sub-hover"><a href="{{path_for('family')}}"><span>Family</span></a></li>
							<li class="has-sub sub-hover"><a href="{{path_for('portrait')}}"><span>Portrait</span></a></li>
						</ul>
					</li>
					<li><a href="{{path_for('about')}}"><span>About</span></a></li>
					<li class="last"><a href="{{path_for('contact')}}"><span>Contact</span></a></li>
				</ul>
			</div>
			-->
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<!-----------------Content-Box-------------------->
				<section class="content-box zerogrid">
				     {% include 'templates/partials/flash.twig'%}
					<div class="row wrap-box"><!--Start Box-->
						<h3 class="t-center" style="font-size: 30px;margin: 10px 0 30px">Contact Form</h3>
						<div id="contact_form1">
							<form method="post" action="{{ path_for('contact') }}" autocomplete = "off" enctype="multipart/form-data"> 
								<div class="row">
									<div class="col-md-6">
										<div class="form-group {{ errors.first ? 'has-error' : '' }}">
											<label for="first">First Name</label>
											<input type="text" class="form-control"  name="first" id="first" placeholder="Enter First Name" required="required" />
											{% if errors.first %}
											<span class = "help-block">{{ errors.first | first }}</span>
											{% endif %}
										</div>
										
										<div class="form-group {{ errors.last ? 'has-error' : '' }}">
											<label for="last">Last Name</label>
											<input type="text" class="form-control"  name="last" id="last" placeholder="Enter Last Name" required="required" />
											{% if errors.last %}
											<span class = "help-block">{{ errors.last | first }}</span>
											{% endif %}
										</div>
										
										<div class="form-group {{ errors.venue ? 'has-error' : '' }}">
											<label for="venue">Venue</label>
											<input type="text" class="form-control" name="venue" id="venue" placeholder="Enter Venue" required="required"/>
											{% if errors.venue %}
											<span class = "help-block">{{ errors.venue | first }}</span>
											{% endif %}
										</div>
										
										
									</div>
									
									<div class="col-md-6">
									    <div class="form-group {{ errors.email ? 'has-error' : '' }}">
											<label for="email">Email Address</label>
											<div class="input-group">
												<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
												<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required="required" />
											</div>
											{% if errors.email %}
											<span class = "help-block">{{ errors.email | first }}</span>
											{% endif %}
										</div>
									    
										<div class="form-group {{ errors.number ? 'has-error' : '' }}">
											<label for="number">Phone Number</label>
											<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-phone"></i></span>
											<input type="text" class="form-control" name="number" id="number" placeholder="Enter Phone Number" required="required" />
										    </div>
											{% if errors.number %}
											<span class = "help-block">{{ errors.number | first }}</span>
											{% endif %}
										</div>
										
										<div class="form-group {{ errors.message ? 'has-error' : '' }}">
											<label for="message">Message</label>
											<textarea name="message" id="message" class="form-control" rows="4" cols="25" maxlength = "200" required="required" placeholder="Message"></textarea>
											{% if errors.message %}
											<span class = "help-block">{{ errors.message | first }}</span>
											{% endif %}
										</div>
									</div>
									
									<div class="col-md-12">
									    
									    <div class="form-group {{ errors.services ? 'has-error' : '' }}">
											<label for="services">Services</label>
											{% for service, index in data['services'] %}
												<label class="checkbox-inline"><input type="checkbox" name="services[]" id="services" value ="{{index}}" />{{service}}</label>
											{% endfor %}
											{% if errors.services %}
											<span class = "help-block">{{ errors.services | first }}</span>
											{% endif %}
										</div>
										
									    <div class="form-group">
										    <center><input class="btn btn-primary btn-block" type="submit" name="submitcontact" value="Submit"/></center>
										</div>
									</div>
								</div>
								{{ csrf.field | raw }}
							</form>
						</div>
					</div>
				</section>
				
			</div>
		</section>
	</div>
	
	<!-- Google Map -->
<!-- 	<script>
		$('.maps').click(function () {
		$('.maps iframe').css("pointer-events", "auto");
	});

	$( ".maps" ).mouseleave(function() {
	  $('.maps iframe').css("pointer-events", "none"); 
	});
	</script> -->
</body>
